div
  .col-md-8.col-md-offset-2
    h3 Thank you for signing up for our service!
    p Customer ID: {{userConfirm.mongoID}}
    hr
    .row
      .col-md-4
        .thumbnail
          .caption
            h3 Email
            p {{userConfirm.email}}
      .col-md-4
        .thumbnail
          .caption
            h3 Fullname
            p {{userConfirm.fullname}}
      .col-md-4
        .thumbnail
          .caption
            h3 Address
            p {{userConfirm.address}}
    .row
      .col-md-4
        .thumbnail
          .caption
            h3 City
            p {{userConfirm.city}}
      .col-md-4
        .thumbnail
          .caption
            h3 State
            p {{userConfirm.state}}
      .col-md-4
        .thumbnail
          .caption
            h3 Country
            p {{userConfirm.country}}
    .row
      .col-md-4
        .thumbnail
          .caption
            h3 zipcode
            p {{userConfirm.zipcode}}
      .col-md-4
        .thumbnail
          .caption
            h3 State
            p {{userConfirm.phone}}
